<a href="https://colab.research.google.com/github/sedrisella/UAS-AI/blob/main/Olahdata_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inport Pandas DataFrame

In [1]:
import pandas as pd

# Load DataSet dan Cek Data

In [19]:
#Load data set iris Unclean
df=pd.read_csv('iris_unclean.csv')

In [20]:
#Tampilkan DataSet
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              NaN           3.5            1.4           0.2     Iris-setosa
1              4.9        2000.0            1.4           0.2     Iris-setosa
2              4.7           3.2           -1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#Hitung jumlah nilai null pada Dataset
df.isna().sum()

SepalLengthCm    2
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Handle Mising value dengan imputasi Mean
Imputasi adalah pilihan penanganan missing data yang paling bijak dari pada membuang sebagian observasi atau variabel yang mengandung missing value,mengingat bahwa data sangat mahal dan berharga.

Sebelumnya terlihat bahwa ada dua data yang hilang pada SepalLengthCm.

In [18]:
#Cari nilai mean dari SepalLengCm
df['SepalLengthCm'].mean()

5.856756756756757

In [17]:
#Mengganti missing Value dengan mean(),Kemudian masukkan ke variabel 
dfDataBaru=df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean())

In [16]:
#Cetak Data
dfDataBaru

0      5.856757
1      4.900000
2      4.700000
3      4.600000
4      5.000000
         ...
145    6.700000
146    6.300000
147    6.500000
148    6.200000
149    5.900000
Name: SepalLengthCm, Length: 150, dtype: float64

In [15]:
#Gabung Data Baru menjadi DataFrame
df2=pd.DataFrame({'SepalLengthCm':dfDataBaru,'SepalWidthCm':df['SepalWidthCm'],'PetalLengthCm':df['PetalLengthCm'],'PetaWidthCm':df['PetalLengthCm'],'Species':df['Species']})
df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetaWidthCm         Species
0         5.856757           3.5            1.4          1.4     Iris-setosa
1         4.900000        2000.0            1.4          1.4     Iris-setosa
2         4.700000           3.2           -1.3         -1.3     Iris-setosa
3         4.600000           3.1            1.5          1.5     Iris-setosa
4         5.000000           3.6            1.4          1.4     Iris-setosa
..             ...           ...            ...          ...             ...
145       6.700000           3.0            5.2          5.2  Iris-virginica
146       6.300000           2.5            5.0          5.0  Iris-virginica
147       6.500000           3.0            5.2          5.2  Iris-virginica
148       6.200000           3.4            5.4          5.4  Iris-virginica
149       5.900000           3.0            5.1          5.1  Iris-virginica

[150 rows x 5 columns]

In [14]:
#Cek jumlah baris dan kolom
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetaWidthCm    150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [13]:
#Hitung jumlah nilai null pada DataFrame Baru
df2.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetaWidthCm      0
Species          0
dtype: int64