<a href="https://colab.research.google.com/github/sedrisella/UAS-AI/blob/main/olahdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import pandas DataFrame 

DataFrame adalah struktur data dua dimensi yang berbentuk tabular (mempunyai baris dan kolom).Hampir semua data tidak ada yang memiliki satu kolom tetapi lebih dari satu kolom,sehingga lebih cocok menggunakan Pandas DataFrame untuk mengelolahnya.

Penggunaan variabel DataFrame pada python biasanya dengan menggunakan syntaks: df.

In [2]:
import pandas as pd

# Mengelolah DataFrame

In [ ]:
#Panggil file (iris.csv).Lalu tampilkan 5 baris awal Data Set dengan Fungtion head()
df = pd.read_csv("iris.csv")
df.head()

In [ ]:
#Tampilkan tipe data dari kolom yang ada pada Dataset menggunakan dtypes
df.dtypes

Tipe Dari kolom yang ada pada Dataset:
1.   Kolom "Id" Memiliki type data = Integer(int64)
2.   Kolom "SepallengthCm" Memiliki type data Fload(fload64)
3.   Kolom "Species" Memiliki type data Object(object)

In [ ]:
#Hitung ukuran(jumlah baris dan kolom)dari data set
df.info()

In [ ]:
#Tampilkan data untuk kolom "id" dan kolom "species"dalam bentuk dataframe
df[["Id","Species"]]

In [ ]:
#Tampilkan data baris index ke-0(nol)sampai dengan index ke-9(sembilan)
df.iloc[:10]

In [ ]:
#Tampilkan data hanya kolom"Id" dan kolom"Species",dan yang ditampilkan adalah data index ke-11(sebelas)
#Sampai dengan index ke-15(limabelas)
df[["Id","Species"]].iloc[11:16]

In [ ]:
#Tampilkan data 8 baris pertama
df.head(8)

In [ ]:
#Tampilkan data 3 baris terakhir
df.tail(3)

In [ ]:
#Hitung nilai mean dari dataset
df.mean()

In [ ]:
#Hitung nilai mean untuk kolom PetalLengthCm
df["PetalLengthCm"].mean()

In [ ]:
#Mencari nilai mimimum untuk kolom SepalWidthCm
df["SepalWidthCm"].min()

In [ ]:
#Hitung Frekuensi pada kolom "Species"dengan menggunakan metode  value_counts()
df["Species"].value_counts()

In [ ]:
#Tampilkan perhitungan frekuensi pada kolom speecies dengan menggunakan value_counts()dalam bentuk Dataframe
dfValueCountsSpecies=df["Species"].value_counts().rename_axis('Species Value Counts').reset_index(name= 'Counts')
dfValueCountsSpecies

In [27]:
#Tampilkan perhitungan frekuensi pada kolom PetalLengthCm dengan menggunakan value_counts()dalam bentuk Dataframe
dfValueCountsSpecies=df["PetalLengthCm"].value_counts().rename_axis('PetalLengthCm Value Counts').reset_index(name= 'Counts')
dfValueCountsSpecies

    PetalLengthCm Value Counts  Counts
0                          1.5      14
1                          1.4      12
2                          5.1       8
3                          4.5       8
4                          1.6       7
5                          1.3       7
6                          5.6       6
7                          4.7       5
8                          4.9       5
9                          4.0       5
10                         4.2       4
11                         5.0       4
12                         4.4       4
13                         4.8       4
14                         1.7       4
15                         3.9       3
16                         4.6       3
17                         5.7       3
18                         4.1       3
19                         5.5       3
20                         6.1       3
21                         5.8       3
22                         3.3       2
23                         5.4       2
24                         6.7       2
25                         5.3       2
26                         5.9       2
27                         6.0       2
28                         1.2       2
29                         4.3       2
30                         1.9       2
31                         3.5       2
32                         5.2       2
33                         3.0       1
34                         1.1       1
35                         3.7       1
36                         3.8       1
37                         6.6       1
38                         6.3       1
39                         1.0       1
40                         6.9       1
41                         3.6       1
42                         6.4       1